* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms;
  font-family: "Urbanist", sans-serif;
}
:root {
  --prColor: #9c27b0;
  --btnBg: #9c27b0a8;
  --brBtn: #9c27b0e0;
}
::selection {
  background-color: var(--btnBg);
  color: #fff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*   members  */
.members {
  width: 100%;
  height: fit-content;
  background-color: var(--brBtn);
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
.members .container {
  height: fit-content;
  background-color: #fff;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.6);
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  border-bottom: 1px solid var(--brBtn);
  position: relative;
  flex-wrap: wrap;
}
.header div {
  width: fit-content;
  position: relative;
}
.header div button {
  border: none;
  background-color: #fff;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}
.header div button:hover {
  color: var(--prColor);
}
.act {
  color: var(--prColor);
}
.header div button::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  box-sizing: border-box;
  background: var(--prColor);
  margin: auto;
  transition: all 0.5s ease 0s;
  font-size: 20px;
}
.header div button:hover::after {
  width: 100%;
}
.header div .act::after {
  width: 100%;
}
#search {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 7px;
  border: 1px solid var(--btnBg);
}
.header div label {
  position: absolute;
  top: 8px;
  left: 7px;
  font-size: 20px;
  color: var(--prColor);
}
.body {
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.history{
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  position: relative;
  width: 250px;
  height: 270px;
  background-color: var(--brBtn);
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.card .content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  width: 100%;
}
.card:hover .content {
  opacity: 1;
}
.card .content .imgBx {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.card .content .imgBx img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .content .contentBx h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 15px;
  cursor: pointer;
}
.card .content .contentBx h3:hover{
  text-decoration: underline;
}
.card .content .contentBx h3 span {
  font-size: 13px;
  font-weight: 400;
  text-transform: initial;
}
.card .sci {
  position: absolute;
  bottom: 10px;
  display: flex;
  list-style: none;
}
.card .sci li {
  margin: 0 10px;
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}
.card:hover .sci li {
  opacity: 1;
}
.card .sci li a .fa {
  font-size: 28px;
  color: #fff;
}
.footer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--brBtn);
}
.footer button {
  width: 110px;
  height: 40px;
  background-color: var(--btnBg);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brBtn);
  border-radius: 4px;
  cursor: pointer;
}
.footer button:hover {
  background-color: var(--prColor);
  text-shadow: 0px 0px 2px #fff;
}
.footer button:last-of-type .fa {
  margin-left: 7px;
}
.footer button:first-of-type .fa {
  margin-right: 7px;
}
.footer p {
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 8px;
}
/*   footer   */
footer {
  height: 250px !important;
}
#clear{
  font-size: 17px;
  position: absolute;
  right: 20px; 
  display: none; 
  cursor: pointer;
}
#clear:hover{
  color: var(--prColor);
  text-decoration: underline;
}
/*  responsive  */
@media screen and (max-width: 600px) {
  footer .container img:first-of-type {
    width: 80px;
    height: 70px;
  }
  .header{
    height: 100px;
    padding-left: 0;
    justify-content: center;
  }
  #search {
    width: 230px;
    font-size: 14px;
  }
  .header div button {
    font-size: 15px;
  }
  .card .content .contentBx h3 {
    font-size: 16px;
  }
  .card .content .contentBx h3 span {
    font-size: 12px;
  }
  .card .sci li a .fa {
    font-size: 23px;
  }
  .footer button {
      width: 80px;
      height: 32px;
      font-size: 14px;
  }
  #clear{
      right: 50%;
      transform: translateX(50%);
      bottom: 10px;
      white-space: nowrap;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
