* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms;
  font-family: "Urbanist", sans-serif;
}
:root {
  --prColor: #9c27b0;
  --btnBg: #9c27b0a8;
  --brBtn: #9c27b0e0;
}
::selection {
  background-color: var(--btnBg);
  color: #fff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  position: relative;
}
/*  profile  */
.pr {
  width: 100%;
  min-height: 100vh;
  background-color: var(--btnBg);
  padding-top: 100px;
  padding-bottom: 100px;
}
.pr .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pr .container .info {
  flex-basis: 68%;
  height: 500px;
  background-color: #fff;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.pr .container .info img {
  width: 300px;
  height: 300px;
}
.pr .container .info > div:first-of-type {
  margin-left: 20px;
  height: 300px;
  width: 400px;
}
.pr .container .info div h1 {
  font-size: 25px;
  margin-bottom: 5px;
}
.pr .container .info div h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.pr .container .info div p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.pr .container .info div:first-of-type a {
  text-decoration: none;
  font-size: 20px;
  color: var(--prColor);
}
.pr .container .info > .social {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}
.pr .container .info > .social a {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  color: var(--prColor);
}
.pr .container .info > .social a:hover,
.pr .container .info div:first-of-type a:hover {
  text-decoration: underline;
}
.pr .container .skills {
  flex-basis: 28%;
  height: 500px;
  background-color: #fff;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}
.pr .container .skills div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
.pr .container .skills div h2 {
  font-size: 22px;
}
.pr .container .skills div a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  align-self: center;
  background-color: var(--btnBg);
  color: #fff;
  border-radius: 7px;
  padding: 5px;
  width: max-content;
  height: max-content;
}
.pr .container .skills div::after {
  content: "";
  height: 1.5px;
  width: 100%;
  background-color: var(--brBtn);
  position: absolute;
  bottom: -10px;
  left: 0;
}
.pr .container .skills ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  list-style: inside;
}
.pr .container .skills ul li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--btnBg);
  align-self: flex-end;
  padding-top: 10px;
}
.projects {
  min-height: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.projects > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
.projects > div:first-child h2 {
  font-size: 22px;
}
.projects > div:first-child button {
  border: none;
  background-color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
.projects > div:first-child button:hover {
  color: var(--prColor);
  text-decoration: underline;
}
.projects > div:first-child::after {
  content: "";
  height: 1.5px;
  width: 100%;
  background-color: var(--brBtn);
  position: absolute;
  bottom: -5px;
  left: 0;
}
.pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.project {
  flex-basis: 31%;
  height: 300px;
  background-color: var(--btnBg);
  background-size: 400% 400%;
  border-radius: 7px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.project > img {
  width: 90%;
  height: 230px;
  border-radius: 7px;
  cursor: pointer;
}
.project > div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
.project > div > div {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
}
.project > div > div > img {
  width: 45px;
  height: 40px;
}
.project > div > div > div {
  width: fit-content;
  height: min-content;
  margin-left: 10px;
}
.project > div > div > div > a {
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  
}
.project > div > div > div > p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.project > div .fa {
  font-size: 25px;
  margin-right: 20px;
  align-self: flex-end;
  color: #ededed;
  cursor: pointer;
  align-self: center;
  align-content: flex-end;
}
/* add project  */
.addProject {
  height: fit-content;
  background-color: #fff;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addProject h2 {
  font-size: 25px;
  color: var(--prColor);
}
.addProject form {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.addProject form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: fit-content;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.addProject form div input[type="text"],
.addProject form div input[type="url"] {
  margin-top: 5px;
  height: 40px;
  border: 1px solid var(--brBtn);
  border-radius: 7px;
  font-size: 17px;
  font-weight: 600;
  padding-left: 7px;
}
:focus {
  outline: none;
  padding-left: 7px;
  font-size: 17px;
  font-weight: 600;
}
.choose {
  height: 200px !important;
  border: 1px dashed var(--brBtn);
  position: relative;
}
.choose label {
  width: 300px;
  height: 200px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
.choose input {
  visibility: hidden;
  height: 0;
}
.addProject form button {
  height: 45px;
  background-color: var(--btnBg);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brBtn);
  border-radius: 4px;
  cursor: pointer;
}
.addProject form button:hover {
  background-color: var(--prColor);
  text-shadow: 0px 0px 2px #fff;
}
.addProject > i:first-child {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 23px;
  color: var(--prColor);
  cursor: pointer;
}
/*   footer   */
footer {
  height: 250px !important;
}
/*  responsive  */
@media screen and (max-width: 600px) {
  footer .container img:first-of-type {
    width: 80px;
    height: 70px;
  }
  .pr {
    padding-top: 50px;
  }
  .pr .container {
    justify-content: center;
  }
  .pr .container .info {
    width: 97%;
    flex-direction: column;
    height: max-content;
  }
  .pr .container .skills {
    flex-basis: 300px;
    margin-top: 30px;
    height: 400px;
  }
  .pr .container .info img {
    width: 200px;
    height: 200px;
  }
  .pr .container .info > div:first-of-type {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .pr .container .info div h1 {
    font-size: 19px;
  }
  .pr .container .info div h2 {
    font-size: 14px;
  }
  .pr .container .info div p {
    font-size: 13px;
  }
  .pr .container .info div:first-of-type a {
    font-size: 14px;
  }
  .pr .container .info > .social a {
    font-size: 17px;
  }
  .pr .container .skills div h2 {
    font-size: 16px;
  }
  .pr .container .skills div a {
    font-size: 14px;
  }
  .pr .container .skills ul {
    font-size: 14px;
  }
  .projects > div:first-child h2 {
    font-size: 16px;
  }
  .projects > div:first-child button {
    font-size: 14px;
  }
  .addProject form {
    width: 260px;
  }
  .addProject h2 {
    font-size: 20px;
  }
  .addProject form div {
    font-size: 15px;
  }
  .addProject form div input[type="text"],
  .addProject form div input[type="url"] {
    height: 35px;
    font-size: 14px;
  }
  .addProject form button {
    height: 35px;
    font-size: 16px;
  }
  .choose label {
    width: 100%;
  }
  .projects{
    width: calc(100% + 20px);
  }
  .project > img {
    width: 88%;
    height: 210px;
  }
  .pro{
    justify-content: center;
  }
  .project {
    flex-basis: 100%;
    height: 280px;
  }
  .project > div > div > div > a {
    font-size: 13px;
  }
  .project > div > div > div > p{
    font-size: 12px;
  }
  .project > div > div > div {
    width: 190px;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .pr .container {
    justify-content: center;
  }
  .pr .container .skills,
  .pr .container .info {
    height: 400px;
  }
  .pr .container .info {
    flex-basis: 97%;
  }
  .pr .container .skills {
    flex-basis: 300px;
    margin-top: 30px;
  }
  .pr .container .info img {
    width: 200px;
    height: 200px;
  }
  .pr .container .info > div:first-of-type {
    width: 240px;
  }
  .pr .container .info div h1 {
    font-size: 21px;
  }
  .pr .container .info div h2 {
    font-size: 16px;
  }
  .pr .container .info div p {
    font-size: 15px;
  }
  .pr .container .info div:first-of-type a {
    font-size: 16px;
  }
  .pr .container .info > .social a {
    font-size: 19px;
  }
  .pr .container .skills div h2 {
    font-size: 18px;
  }
  .pr .container .skills div a {
    font-size: 15px;
  }
  .pr .container .skills ul {
    font-size: 15px;
  }
  .projects > div:first-child h2 {
    font-size: 18px;
  }
  .projects > div:first-child button {
    font-size: 15px;
  }
  .pro{
    justify-content: center;
  }
  .project {
    flex-basis: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pr .container .skills,
  .pr .container .info {
    height: 400px;
  }
  .pr .container .info img {
    width: 200px;
    height: 200px;
  }
  .pr .container .info > div:first-of-type {
    width: 240px;
  }
  .pr .container .info div h1 {
    font-size: 21px;
  }
  .pr .container .info div h2 {
    font-size: 16px;
  }
  .pr .container .info div p {
    font-size: 15px;
  }
  .pr .container .info div:first-of-type a {
    font-size: 16px;
  }
  .pr .container .info > .social a {
    font-size: 19px;
  }
  .pr .container .skills div h2 {
    font-size: 18px;
  }
  .pr .container .skills div a {
    font-size: 15px;
  }
  .pr .container .skills ul {
    font-size: 15px;
  }
  .projects > div:first-child h2 {
    font-size: 18px;
  }
  .projects > div:first-child button {
    font-size: 15px;
  }
  .pro{
    justify-content: center;
  }
  .project {
    flex-basis: 400px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .pr .container .info img {
    width: 250px;
    height: 250px;
  }
  .pr .container .info > div:first-of-type {
    width: 300px;
  }
  .pr .container .info div h1 {
    font-size: 23px;
  }
  .pr .container .info div h2 {
    font-size: 18px;
  }
  .pr .container .info div p {
    font-size: 16px;
  }
  .pr .container .info div:first-of-type a {
    font-size: 18px;
  }
  .pr .container .info > .social a {
    font-size: 21px;
  }
  .pr .container .skills div h2 {
    font-size: 20px;
  }
  .pr .container .skills div a {
    font-size: 15px;
  }
  .pr .container .skills ul {
    font-size: 16px;
  }
  .projects > div:first-child h2 {
    font-size: 20px;
  }
  .projects > div:first-child button {
    font-size: 15px;
  }
  .project {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
